body,div{
	padding: 0;
	margin: 0;
}
.wrap{
	width: 400px;
	height: 200px;
	background: #ccc;
	position: absolute;
	left: 50%;
	top: 50%;
	margin-left: -200px;
    margin-top: -100px; 
} 
.above_circular, 
.below_circular{
	width: 50px;
	height: 50px;
	background: #fc0;
	position: absolute;
}
.above_circular{
	left: 0;
	top: 0;
    border-radius: 0 0 50px 0;

}
.below_circular{
	border-radius: 50px 0 0 0; 
	right: 0;
	bottom: 0;
} 